$font-stack: Ubuntu;
$black: #352022;
$red: #d7141a;

html {
    overflow: auto;
}



body {
	background: url('images/background-3.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
   min-width: 1142px;
   overflow: hidden;
}

.header {
	background: url('images/background-1.png');
	background-repeat:repeat-x;
	background-size: 100% 418px;
	height: 418px;
	width: 100%;
	z-index: 1;
}

#inner-header {
	width: 1142px;
    margin: 0 auto;
    position: relative;
    #logo {
		padding-top: 28px;
		margin-right: 33px;
		display: inline-block;
		float: left;
		}
	#title {
		padding-top: 28px;

		}
	#nav a{
		display: inline;
		float: left;
		margin-right: 25px;
		margin-top:25px;
		}
    a {
    	font-family: $font-stack;
    	color: $black;
    	font-size: 25px;
    	font-weight: 800;
    	text-decoration: none;
    	padding-top:-25px;
    	&:hover {
    		color: $red;
    		text-decoration: underline;
    		}
    	}
    #flower {
		z-index: 100;
		position: absolute;
		right: 0px;
		margin-top: 8px;
		margin-right: -215px;
		}
}


	

.footer {
	background: url('images/background-2.png');
	height: 239px;
	width: 100%;
 	background-size: auto 100%;
	background-repeat:repeat-x;
	margin-top: -15px;
	z-index: 50;
}

#inner-footer {
	width: 1142px;
    margin: 0 auto;
    padding-top: 84px;
    p {
    	font-family: $font-stack;
    	color: $black;
    	font-size: 25px;
    	font-weight: 800;
    	}
    a {
    	font-family: $font-stack;
    	color: $black;
    	font-size: 25px;
    	font-weight: 800;
    	text-decoration: none;
    	padding-top:-25px;
    	display: inline;
		float: left;
		margin-right: 25px;
    	&:hover {
    		color: $red;
    		text-decoration: underline;
    		}
    	}
    #creator {
    	text-align:right;
    	float: right;
    	a {
    		display: inline;
			float: right;
			margin-right: 0px;
    		}
    	} 
}



#content {
	background: url('images/background-4.png');
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 1.5em;
	width: 1142px;
	margin-top: -235px;
	z-index: 3;
	}

.post {
	width: 1142px; margin: 0 auto;
	background: url('images/background-4.png');
	margin-top: -225px;
	z-index: 4;
	.content{
		padding: 20px;
		h1{
			font-family: $font-stack;
    		color: $black;
    		font-size: 25px;
    		font-weight: 800;
			}
		p{
			font-family: $font-stack;
    		color: $black;
    		font-size: 13px;
    		font-weight: 400;
			}
		}
	}

.entry-content {}
.entry-content a {}
.entry-content a:hover {}