body {
	background: url('images/background-3.jpg') no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

.header {
	
	background: url('images/background-1.png');
	height: 418px;
}

#inner-header {
	width: 1150px;
    margin: 0 auto;
}

	#logo {
		margin-top: 28px;
		margin-right: 33px;
		display: inline-block;
		float: left;
	}

	#title {
		margin-top: 28px;
		display: inline-block;
		float: left;
	}