body {
  background: url("images/background-3.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased; }

.header {
  background: url("images/background-1.png");
  background-repeat: repeat-x;
  height: 418px;
  z-index: 1; }

#inner-header {
  width: 1142px;
  margin: 0 auto; }

#flower {
  z-index: 100;
  position: absolute;
  right: 0px; }

#logo {
  padding-top: 28px;
  margin-right: 33px;
  display: inline-block;
  float: left; }

#title {
  padding-top: 28px; }

.footer {
  background: url("images/background-2.png");
  height: 239px;
  background-repeat: repeat-x;
  margin-top: -15px;
  z-index: 50; }

#inner-footer {
  width: 1142px;
  margin: 0 auto;
  padding-top: 84px; }

#nav a {
  display: inline;
  float: left;
  margin-right: 5px;
  margin-top: 30px; }

#content {
  background: url("images/background-4.png");
  margin: 0 auto;
  border-radius: 3px;
  margin-bottom: 1.5em;
  width: 1142px;
  margin-top: -235px;
  z-index: 3; }

.post {
  width: 1142px;
  margin: 0 auto;
  background: url("images/background-4.png");
  margin-top: -225px;
  z-index: 4; }
  .post .content {
    padding: 15px; }
